<section style="min-height:400px">
	<div class="h4">{{'retrieve-password.retrieve-password' | translate}}</div>
	<div class="card px-4 pt-4 mt-4">
		<p>{{'retrieve-password.to-retrieve-your-password' | translate}}.</p>
		<p>
			{{'retrieve-password.free-spirit-mastercard-holder-part1' | translate}}
			<a class="info" (click)="openInstructionModal()">{{'retrieve-password.instructions-here' | translate}}</a>
			{{'retrieve-password.free-spirit-mastercard-holder-part2' | translate}}.
		</p>
	</div>
	<form #form="ngForm" (ngSubmit)="onRetrievePassword(form)">
		<!-- No clarity on the user story about the success scenario, 
			so below temp message will get relaced after getting update from business -->
		<div *ngIf="successResult" class="row alert alert-success">
			<strong>{{'retrieve-password.success' | translate}}! </strong> {{'retrieve-password.password-reset-instruction' | translate}}.
		</div>
		<div class="row p-4">
			<div class="col-md-12">
				<app-input>
					<input name="emailOrNumberText" nkInput type="text" placeholder="{{'retrieve-password.email-address' | translate}}" ngModel
					    required>
				</app-input>
			</div>
		</div>
		<div class="row">
			<div class="col-12 pt-6 text-center ">
				<button name="sendButton" type="submit" class="btn btn-primary btn-sm" [disabled]="form.form.invalid"> {{'retrieve-password.send' | translate}} </button>
			</div>
		</div>
	</form>
</section>