<div class="modal-header">
	<h5 class="modal-title">{{'retrieve-password-instruction.dont-know-your-password' | translate}} </h5>
	<button type="button" class="close" (click)="hideModal()" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row small my-2 px-2">
		{{'retrieve-password-instruction.free-spirit-mastercard-holder' | translate}}.
	</div>
	<div class="row small my-2 px-2">
		{{'retrieve-password-instruction.your-password-will-be' | translate}}.
	</div>
	<div class="row small my-2 px-2">
		{{'retrieve-password-instruction.for-your-security' | translate}}.
	</div>
	<div class="row text-center">
		<div class="col-12">
			<button name="closebutton" (click)="hideModal()" class="btn btn-primary btn-sm">{{'retrieve-password-instruction.close' | translate}}</button>
		</div>
	</div>
</div>