/* PARTIALS */

@import 'partials/_colors.scss';
@import 'partials/_fonts.scss';
@import 'partials/_variables.scss';
/* Document level adjustments */

html {
	font-size: 112.5%;
	/* font-size 1rem = 18px on default browser settings */
}
body {
	margin: 0;
	font-family: $main-font-family;
	font-size: $main-font-size;
	color: $black;
	overflow-y: scroll;
}
p, .p {
	font-size: $main-font-size;
	line-height: 1.33rem;
}
.p-lead {
	font-size: $main-font-lead-size;
	line-height: 1.55rem;
}
.p-small {
	font-size: $main-font-small-size;
	line-height: 1rem;
}
.p-legal {
	font-size: $main-font-legal-size;
	line-height: 0.88rem;
	}

/* HEADINGS */
h1, h2, h3, h4,  h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}
h5, h6, .h5, .h6 {
	text-transform: uppercase;
}
h1, .h1 {
	font-size: $h1-font-size;
	line-height: 2.66rem;
}	
h2, .h2 {
	font-size: $h2-font-size;
	line-height: 2.33rem;
/* 	margin-top: .75rem;
    margin-bottom: .7rem; */
}
h3, .h3 {
	font-size: $h3-font-size;
	line-height: 2.11rem;
}	
h4, .h4 {
	font-size: $h4-font-size;
	line-height: 1.83rem;
}
h5, .h5 {
	font-size: $h5-font-size;
	line-height: 1.22rem;
}
h6, .h6 {
	font-size: $h6-font-size;
	line-height: 1rem;
}
/* FONT CLASS*/
.mrslollipop {font-family: $hero-font;}
.mrslollipop-head {font-family: $hero-font;
text-transform: uppercase;}

.incomplete-element {
	color: $primary !important;
	font-weight: 400;
	font-size: .78rem;
}

.bottom-align {
	margin-top:auto;
}

/* existing content coppied in form styles.scss */

.radio-label {
	font-family: $main-font-family;
}
/* TABS */

.nav-tabs {
	/* text-transform: uppercase; */
	border-bottom: none;
	font-family: $tab-font;
	.nav-link {
		background-color:$white;
		border: .111rem solid $gray;
		border-bottom: .111rem;
		margin-right: .556rem;
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
	}
	a {
		color: $action;
		&:hover {
			text-decoration: underline;
		}
	}
}
.nav-tabs >li>a {
	font-weight: 900;
	font-size: 1.15rem;
	min-width: 11.111rem;
	text-align: center;
}
.nav-tabs .nav-link:hover {
	border-color: $gray $gray $white;
}
.nav-tabs .nav-link.active {
	color: $black;
	background-color: $white;
	border-color: $gray $gray $white;
	border-width: .111rem .111rem 0 .111rem;
}
.tab-content {
	padding: 1.389rem;
	border: .111rem solid $gray;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	background-color:$white;
}
.nav-tabs .nav-item {
	margin-bottom: -.111rem;
}
/* TABS SECONDARY */

.tabset-second {
	.nav-tabs .nav-link {
		border: 0.056rem solid $gray;
		margin-right: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding: 0.028rem;
	}
	.nav-tabs :first-child .nav-link {
		border-top-left-radius: .25rem;
		border-bottom-left-radius: .25rem;
	}
	.nav-tabs :last-child .nav-link {
		border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
	}
	.tab-content {
		border-top: none;
	}
	.nav-tabs>li>a {
		font-size: initial;
		min-width: 5.556rem;
	}
	.tab-content {
		border: none;
	}
}
	
/* COLORS FOR INLINE STYLE GUIDE  */
.color-black{background-color:$black;}
.color-white{background-color:$white;}
.color-primary{background-color:$primary;}
.color-action{background-color:$action;}
.color-error{background-color:$error;}
.color-support{background-color:$support;}
.color-primary-tertiary{background-color:$primary-tertiary;}
.color-action-tertiary{background-color:$action-tertiary;}
.color-error-tertiary{background-color:$error-tertiary;}
.color-charcoal{background-color:$charcoal;}
.color-gunmetal{background-color:$gunmetal;}
.color-gray{background-color:$gray;}
.color-dolphin{background-color:$dolphin;}
.color-timberwolf{background-color:$timberwolf;}
/* J9 TESTING ONLY */

.j9 {background-color: aqua;}
.j91 {background-color: pink;}
.j92 {background-color: lavender;}
.j93 {background-color: lightgreen;}
.j94 {background-color: lightseagreen;}