body {
	overflow-y: scroll;
}

.mat-button {
	min-width: 0 !important;

	&.btn-primary {
		color: #fff !important;

		&:disabled {
			color: #fff !important;
			cursor: not-allowed !important;
		}
	}
}

.mat-tab-body-content {
	padding: 25px 15px;
}

header {
	.mat-toolbar {
		background-color: transparent;

		.mat-button {
			text-transform: uppercase;
			font-weight: bold;

			&.active {
				background-color: #000;
				color: #ffec00;
			}
		}

		.mat-button:hover:not(:first-child) {
			text-decoration: underline;

			.mat-button-focus-overlay {
				opacity: 0 !important;
			}
		}
	}

	button:focus {
		outline: none;
	}
}

.mat-form-field {
	width: 100%;
}

/*Override for signup modal - otherwise producing ugly white box*/
.mat-dialog-container {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0), 0 24px 38px 3px rgba(0, 0, 0, 0), 0 9px 46px 8px rgba(0, 0, 0, 0) !important;
    display: block;
    padding: 24px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0) !important;
}