<section>
	<div class="new-search-container" [ngClass]="{'new-search bg-light': newSearch}">
		<div class="new-search-button-container">
			<button mat-button type="button" class="btn btn-primary btn-sm" (click)="onNewSearchClick()">new search</button>
		</div>
		<div class="search-container">
			<app-flight-availability-search [stations]="stations$ | async" [searchCriteria]="searchCriteria$ | async" (searchClick)="onSearchClick($event);onLowFareSearchClick($event)">
			</app-flight-availability-search>
		</div>
	</div>
	<div *ngIf="data$ | async as data">
		<div *ngFor="let trip of data.trips">
			<div class="low-fare-container">
				<app-low-fare [searchCriteria]="searchCriteria$ | async" [lowFareSearchCriteria]="lowFareSearchCriteria$ | async"
				    [data]="lowFareData$ | async" (lowFareSearchClick)="onLowFareSearchClick($event)" (searchClick)="onSearchClick($event, false)"></app-low-fare>
			</div>
			<div class="h4">
				{{trip.origin}} - {{trip.destination}}
			</div>
			<app-journey-list [trip]="trip" (sellTripClick)="onSellTripClick($event)"></app-journey-list>
		</div>
	</div>
</section>