<section class="container">
  <form #form="ngForm" (ngSubmit)="onSearchClick(form)">
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Origin" [value]="origin" (change)="onOriginChange($event)">
            <mat-option *ngFor="let station of stations" [value]="station">
              {{station.shortName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Destination" [value]="destination" (change)="onDestinationChange($event)">
            <mat-option *ngFor="let station of stations" [value]="station">
              {{station.shortName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Begin Date" [matDatepicker]="picker" [value]="beginDate" (dateChange)="onBeginDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-3 search-button-container">
        <button mat-button type="submit" class="btn btn-primary btn-sm" [disabled]="form.form.invalid">search</button>
      </div>
    </div>
  </form>
</section>