<div *ngIf="stations$ | async as stations" class="container">
  <div class="row">
    <div class="col-sm-3">
      <p-dropdown [options]="stations" [ngModel]="(origin$ | async)" optionLabel="shortName" (onChange)="onOriginChange($event)"></p-dropdown>
    </div>
    <div class="col-sm-3">
      <p-dropdown [options]="stations" [ngModel]="(destination$ | async)" optionLabel="shortName" (onChange)="onDestinationChange($event)"></p-dropdown>
    </div>
    <div class="col-sm-3">
      <p-calendar [ngModel]="(beginDate$ | async)" (onSelect)="onBeginDateChange($event)"></p-calendar>
    </div>
    <div class="col-sm-3 search-button-container">
      <button pButton type="button" (click)="onSearchClick()" label="search"></button>
    </div>
  </div>
</div>