ul#forbiddenLeft li#explosive {
    list-style-image:url(/assets/img/hazmat/explosive.png);
}
ul#forbiddenLeft li#flammable {
    list-style-image:url(/assets/img/hazmat/flammable.png);
}
ul#forbiddenLeft li#match {
    list-style-image:url(/assets/img/hazmat/match.png);
}
ul#forbiddenLeft li#alcohol {
    list-style-image:url(/assets/img/hazmat/alcohol.png);
}
ul#forbiddenLeft li#weapons {
    list-style-image:url(/assets/img/hazmat/weapons.png);
}
ul#forbiddenLeft li#safety-recall {
    list-style-image:url(/assets/img/hazmat/safety-recall.png);
}
ul#forbiddenRight li#gas {
    list-style-image:url(/assets/img/hazmat/gas.png);
}
ul#forbiddenRight li#radioactive {
    list-style-image:url(/assets/img/hazmat/radioactive.png);
}
ul#forbiddenRight li#corrosive {
    list-style-image:url(/assets/img/hazmat/corrosive.png);
}
ul#forbiddenRight li#thermometer {
    list-style-image:url(/assets/img/hazmat/thermometer.png);
}
ul#forbiddenRight li#poison {
    list-style-image:url(/assets/img/hazmat/poison.png);
}
ul#forbiddenRight li#hoverboard {
    list-style-image:url(/assets/img/hazmat/hoverboard.png);
}
ul#carryOnLeft li#e-cigg {
    list-style-image:url(/assets/img/hazmat/e-cigg.png);
}
ul#carryOnLeft li#battery {
    list-style-image:url(/assets/img/hazmat/battery.png);
}
ul#carryOnRight li#fuel {
    list-style-image:url(/assets/img/hazmat/fuel.png);
}
ul#carryOnRight li#lighter {
    list-style-image:url(/assets/img/hazmat/lighter.png);
}