<section>
	<h5>Extras:</h5>
	<div class="card card-body bg-light mb-3">
		<div class="h4">
			Flight Flex (TM)
		</div>
		Form Field Options
	</div>
</section>

<section>
	<div class="card card-body bg-light mb-3">
		<div class="h4">
			Shortcut Security
		</div>
		Form Field Options
	</div>
</section>

<section>
	<div class="card card-body bg-light mb-3">
		<div class="h4">
			Shortcut Boarding (TM)
		</div>
		Form Field Options
	</div>
</section>

<section>
	<div class="card card-body bg-light mb-3">
		<div class="h4">
			Check-in Options
		</div>
		Form Field Options
	</div>
</section>
<!-- End Extras HTML-->

<!-- Additional Components -->
<hr>
<app-hotel></app-hotel>
<hr>
<app-car></app-car>
<hr>
<!-- Save Button -->
<section>
	<div class="save-button-container ">
		<button mat-button type="button" class="btn btn-primary btn-sm " (click)="onSave() ">
			save
		</button>
	</div>
</section>