<div *ngIf="messengerService.bookingData$ | async as data">
  <div class="card card-body bg-light mb-3">
    <div class="h4">
      Booking Key
    </div>
    <div>
      {{data.bookingKey ? data.bookingKey : 'null'}}
    </div>
  </div>
  <div class="card card-body bg-light mb-3">
    <div class="h4">
      Record Locator
    </div>
    <div>
      {{data.recordLocator ? data.recordLocator : 'null'}}
    </div>
  </div>
  <div class="card card-body bg-light mb-3">
    <div class="h4">
      Payments
    </div>
    <table class="table">
      <tr>
        <th>
          Account Number
        </th>
        <th>
          Account Holder Name
        </th>
      </tr>
      <tr *ngFor="let payment of data.payments">
        <td>
          {{payment.details.accountNumber}}
        </td>
        <td>
          {{payment.details.accountName}}
        </td>
      </tr>
    </table>
  </div>
  <div class="card card-body bg-light mb-3">
    <div class="h4">
      Breakdown
    </div>
    <table class="table">
      <tr>
        <td>
          balance due
        </td>
        <td>
          {{data.breakdown.balanceDue}}
        </td>
      </tr>
    </table>
  </div>
  <div class="card card-body bg-light mb-3">
    <div class="h4">
      Passengers
    </div>
    <table class="table">
      <tr>
        <th>
          Key
        </th>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
      </tr>
      <tr *ngFor="let passenger of data.passengers | values">
        <td>
          {{passenger.passengerKey}}
        </td>
        <td>
          {{passenger.name?.first}}
        </td>
        <td>
          {{passenger.name?.last}}
        </td>
      </tr>
    </table>
  </div>
  <div class="card card-body bg-light mb-3">
    <div class="h4">
      Contacts
    </div>
    <table class="table">
      <tr>
        <th>
          Type
        </th>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Phone Number
        </th>
      </tr>
      <tr *ngFor="let contact of data.contacts | values">
        <td>
          {{contact.contactTypeCode}}
        </td>
        <td>
          {{contact.name.first}}
        </td>
        <td>
          {{contact.name.last}}
        </td>
        <td>
          {{contact.phoneNumbers[0].number}}
        </td>
      </tr>
    </table>
  </div>
  <div class="commit-button-container">
    <button pButton (click)="onCommitClick()" label="commit"></button>
  </div>
</div>