<section>
	<div class="card card-body bg-light mb-3">
		<div>
			Flights
		</div>
	</div>
	<div>
		Hotels
	</div>
	<div *ngIf="searchResults$ | async as results">
		<div *ngFor="let result of results">
			<div class="p-3 mb-3 border-1-gray" *ngFor="let hotel of result.Hotels">
				<div class="row">
					<div class="col-sm-3">
						<div *ngIf="hotel.MediaKey.length > 0">
							<img [src]="findMedia(result.Media, hotel.MediaKey[0]).text" />
						</div>
					</div>
					<div class="col-sm-3">
						<div>
							{{findDescription(result.Descriptions, hotel.SmallDescription).text}}
						</div>
					</div>
					<div class="col-sm-3 d-flex justify-content-end">
					</div>
					<div class="col-sm-3 d-flex justify-content-end align-items-center">
						<button type="button" class="btn btn-primary btn-sm">
							book
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-end align-items-center">
		<button type="button" class="btn btn-primary btn-sm">
			continue
		</button>
	</div>
</section>