<section>
	<tabset class="tabset-second">
		<tab heading="{{'book-home.book' | translate}}">
			<app-flight-only-search [stations]="stations$ | async" [worldRegions]="worldRegions$ | async" [searchInput]="searchInput$ | async"
			    (searchClick)="onFlightOnlySearchClick($event)">
			</app-flight-only-search>
		</tab>
		<tab heading="{{'book-home.package' | translate}}">
			<app-package-search [stations]="stations$ | async" [worldRegions]="worldRegions$ | async" [searchInput]="searchInput$ | async"
			    (searchClick)="onPackageSearchClick($event)">
			</app-package-search>
		</tab>
		<tab heading="{{'book-home.car' | translate}}">
			<app-car-search></app-car-search>
		</tab>
		<tab heading="{{'book-home.hotel' | translate}}">
			<app-hotel-search></app-hotel-search>
		</tab>
		<tab heading="{{'book-home.cruise' | translate}}">
		</tab>
	</tabset>
</section>