.router-outlet {
  border: 1px solid lightgrey;
}

.mat-tab-nav-bar {
  border-bottom: none;
  margin-bottom: -1px;
}

.mat-tab-link {
  min-width: 0;
  opacity: 1;
}

.mat-tab-label-active {
  background-color: white;
}

.mat-tab-label-active {
  border: 1px solid lightgrey;
  border-bottom: none;
}
