.router-outlet {
	border: 1px solid lightgrey;
	padding: 25px 15px;
}

.mat-tab-nav-bar {
	border-bottom: none;
	margin-bottom: -1px;
}

.mat-tab-link {
	min-width: 0;
	opacity: 1;
}

.mat-tab-label-active,
.mat-tab-label-active:focus {
	background-color: white !important;
	border: 1px solid lightgrey;
	border-bottom: none;
}