<section>
	<h2>Internal Style Guide</h2>
	<h3>Buttons</h3>
	<pre class="prettyprint">
		<code>
				&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Button&lt;/button&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Button&lt;/button&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Button Link&lt;/button&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn btn-link-sm&quot;&gt;Button Link&lt;/button&gt;
				&lt;button type=&quot;button&quot; disabled class=&quot;btn btn-primary&quot;&gt;Button&lt;/button&gt;
				&lt;button type=&quot;button&quot; disabled class=&quot;btn btn-secondary&quot;&gt;Button&lt;/button&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-block&quot;&gt;Button&lt;/button&gt;
		</code>
	</pre>
	<div class="row">
		<div class="col">
			.btn-primary
			<br>
			<button type="button" class="btn btn-primary">Button</button>
		</div>
		<div class="col">
			.btn-seconardy
			<br>
			<button type="button" class="btn btn-secondary">Button</button>
		</div>
		<div class="col">
			.btn-link
			<br>
			<button type="button" class="btn btn-link">Button Link</button>
		</div>
		<div class="col">
			.btn-link-sm
			<br>
			<button type="button" class="btn btn-link-sm">Button Link</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col">
			.btn-primary :disabled
			<br>
			<button type="button" disabled class="btn btn-primary">Button</button>
		</div>
		<div class="col">
			.btn-seconardy :disabled
			<br>
			<button type="button" disabled class="btn btn-secondary">Button</button>
		</div>
		<div class="col">
			.btn-block
			<br>
			<button type="button" class="btn btn-primary btn-block">Button</button>
		</div>
		<div class="col"></div>
	</div>
	<br>
	<h3>Special Headlines</h3>
	<pre class="prettyprint">
			<code>
				&lt;h1 class=&quot;mrslollipop-head&quot;&gt;H1 Mrs Lollipop headline&lt;/h1&gt;
				&lt;h2 class=&quot;mrslollipop-head&quot;&gt;H2 Mrs Lollipop headline&lt;/h2&gt;
			</code>
		</pre>
	<div class="row">
		<div class="col">.mrslollipop-head
			<br>
			<h1 class="mrslollipop-head">H1 Mrs Lollipop headline</h1>
		</div>
		<div class="col">.mrslollipop-head
			<br>
			<h2 class="mrslollipop-head">H2 Mrs Lollipop headline</h2>
		</div>
	</div>
	<br>
	<h3>Paragraph Styles</h3>
	<pre class="prettyprint">
			<code>
					&lt;body&gt;body copy default&lt;/body&gt;
					&lt;p&gt;paragraph copy&lt;/p&gt;
					&lt;p class=&quot;p&quot;&gt;paragraph copy&lt;/p&gt;
					&lt;p class=&quot;p-lead&quot;&gt;lead paragraph copy&lt;/p&gt;
					&lt;p class=&quot;p-small&quot;&gt;small paragraph copy&lt;/p&gt;
					&lt;p class=&quot;p-legal&quot;&gt;legal paragraph copy&lt;/p&gt;
			</code>
		</pre>
	<div class="row">
		<div class="col">
			body
			<br>

			<body>body copy default</body>
		</div>
		<div class="col">p .p
			<br>
			<p class="p">paragraph copy</p>
		</div>
		<div class="col">
			.p-lead
			<p class="p-lead">lead paragraph copy </p>
		</div>
		<div class="col">
			.p-small
			<p class="p-small">small paragraph copy</p>
		</div>
		<div class="col">
			.p-legal
			<p class="p-legal">legal paragraph copy</p>
		</div>
	</div>
	<br>
	<h3>Headline Styles</h3>
	<pre class="prettyprint">
			<code>
					&lt;h1 class=&quot;.h1&quot;&gt;Headline 1&lt;/h1&gt;
					&lt;h2 class=&quot;.h2&quot;&gt;Headline 2&lt;/h2&gt;
					&lt;h3 class=&quot;.h3&quot;&gt;Headline 3&lt;/h3&gt;
					&lt;h4 class=&quot;.h4&quot;&gt;Headline 4&lt;/h4&gt;
					&lt;h5 class=&quot;.h5&quot;&gt;Headline 5&lt;/h5&gt;
					&lt;h6 class=&quot;.h6&quot;&gt;Headline 6&lt;/h6&gt;
			</code>
		</pre>
	<div class="row">
		<div class="col">h1 .h1
			<br>
			<h1 class=".h1">Headline 1</h1>
		</div>
		<div class="col">h2 .h2
			<br>
			<h2 class=".h2">Headline 2</h2>
		</div>
		<div class="col">h3 .h3
			<br>
			<h3 class=".h3">Headline 3</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">h4 .h4
			<br>
			<h4 class=".h4">Headline 4</h4>
		</div>
		<div class="col">h5 .h5
			<br>
			<h5 class=".h5">Headline 5</h5>
		</div>
		<div class="col">h6 .h6
			<br>
			<h6 class=".h6">Headline 6</h6>
		</div>
	</div>

	<br>
	<h3>Colors</h3>
	<pre class="prettyprint">
		<code>
				&lt;div class=&quot;color-black&quot;&gt;.color-black $black&lt;/div&gt;
				&lt;div class=&quot;color-white&quot;&gt;.color-white $white&lt;/div&gt;
				&lt;div class=&quot;color-primary&quot;&gt;.color-primary $primary&lt;/div&gt;
				&lt;div class=&quot;color-primary-tertiary&quot;&gt;.color-primary-tertiary $primary-tertiary&lt;/div&gt;
				&lt;div class=&quot;color-action&quot;&gt;.color-action $action&lt;/div&gt;
				&lt;div class=&quot;color-action-tertiary&quot;&gt;.color-action-tertiary $action-tertiary&lt;/div&gt;
				&lt;div class=&quot;color-error&quot;&gt;.color-error $error&lt;/div&gt;
				&lt;div class=&quot;color-error-tertiary&quot;&gt;.color-error-tertiary $error-tertiary&lt;/div&gt;
				&lt;div class=&quot;color-support&quot;&gt;.color-support $support&lt;/div&gt;
				&lt;div class=&quot;color-charcoal&quot;&gt;.color-charcoal $charcoal&lt;/div&gt;
				&lt;div class=&quot;color-gunmetal&quot;&gt;.color-gunmetal $gunmetal&lt;/div&gt;
				&lt;div class=&quot;color-gray&quot;&gt;.color-gray $gray&lt;/div&gt;
				&lt;div class=&quot;color-dolphin&quot;&gt;.color-dolphin $dolphin&lt;/div&gt;
				&lt;div class=&quot;color-timberwolf&quot;&gt;.color-timberwolf $timberwolf&lt;/div&gt;
		</code>
	</pre>
	<div class="color-black">.color-black $black</div>
	<div class="color-white">.color-white $white</div>
	<div class="color-primary">.color-primary $primary</div>
	<div class="color-primary-tertiary">.color-primary-tertiary $primary-tertiary</div>
	<div class="color-action">.color-action $action</div>
	<div class="color-action-tertiary">.color-action-tertiary $action-tertiary</div>
	<div class="color-error">.color-error $error</div>
	<div class="color-error-tertiary">.color-error-tertiary $error-tertiary</div>
	<div class="color-support">.color-support $support</div>
	<div class="color-charcoal">.color-charcoal $charcoal</div>
	<div class="color-gunmetal">.color-gunmetal $gunmetal</div>
	<div class="color-gray">.color-gray $gray</div>
	<div class="color-dolphin">.color-dolphin $dolphin</div>
	<div class="color-timberwolf">.color-timberwolf $timberwolf</div>


	RADIO BUTTONS

	<div class="form-check">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
		<label class="form-check-label" for="exampleRadios1">
			Default radio
		</label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
		<label class="form-check-label" for="exampleRadios2">
			Second default radio
		</label>
	</div>
	<div class="form-check disabled">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
		<label class="form-check-label" for="exampleRadios3">
			Disabled radio
		</label>
	</div>




	<div class="radio-container">
		<ul>
			<li>
				<input type="radio" id="option1" name="selector">
				<label for="option1">bunny</label>
				<div class="check"></div>
			</li>

			<li>
				<input type="radio" id="option2" name="selector">
				<label for="option2">dog</label>

				<div class="check">
					<div class="inside"></div>
				</div>
			</li>

			<li>
				<input type="radio" id="option3" name="selector">
				<label for="option3">cat</label>

				<div class="check">
					<div class="inside"></div>
				</div>
			</li>
		</ul>
	</div>

	<br>

	<div class="row chevron-banner-overflow">
		<div class="chevron-banner"></div>
		<div class="chevron-banner"></div>
		<div class="chevron-banner"></div>
	</div>








</section>