<section *ngIf="{ booking: booking$ | async, ssrs: ssrs$ | async, bagsSelected: bagsSelected$ | async } as data">
	<div class="row spacing-bottom">
		<div class="col-sm-12">
			<h1 class="h1 text-uppercase"> {{'bags-page.page-title' | translate}}</h1>
			<p class="p-lead">Bringing anything besides your 18"x14"x8" personal item?
				<br /> Save money by buying bags now instead of paying at the airport.</p>
		</div>
	</div>
	<app-bag-descriptions *ngIf="ssrs" [checkedSsr]="ssrs | ssrPrice: [activeBagSsrs.checked1]" [carryOnSsr]="ssrs | ssrPrice: [activeBagSsrs.carryOn]"></app-bag-descriptions>
	<!-- <hr> -->
	<ng-container *ngIf="data.booking && data.ssrs">
		<ng-container *ngFor="let journey of data.booking.journeys; let i = index;">
			<div class="row">
				<div class="col-sm-10">
					<h2 class="h3">{{journey.designator.origin}} - {{journey.designator.destination}}</h2>
				</div>
				<div class="col">
					<p class="text-right font-weight-bold">{{journey.designator.departure | date:'longDate'}}</p>
				</div>
			</div>
			<div *ngIf="i === 1">
				<input type="checkbox" (change)="keepJourneysSynced()" />
				<p>Keep the same bags for all flights </p>
			</div>
			<hr class="divider">
			<div class="flight-bag-container mb-4">
				<div *ngFor="let passenger of data.booking.passengers | keys; let paxIndex = index; let last = last" [ngClass]="{'passenger-bag-container': !last}">
					<div class="row align-items-center spacing-bottom">
						<div class="col-12 col-lg-4 col-xl-4">
							<h3 class="h4 no-margin bottom"> {{data.booking.passengers[passenger].name?.first + data.booking.passengers[passenger].name?.last}}</h3>
						</div>
						<div class="col-4 col-lg-auto col-xl-2">
							<p class="p-lead no-margin bottom">Carry-On Bag</p>
						</div>
						<div class="col-5 col-md-3 col-lg-auto col-xl-2">
							<app-count-picker [disabled]="i != 0 && keepSame" [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.carryOn + data.bagsSelected[journey.journeyKey][passenger].paid.carryOn"
							    [max]="1" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.carryOn" (onAdd)="addBag(journey.journeyKey, passenger, 'carryOn', data.ssrs[journey.journeyKey][activeBagSsrs['carryOn']])"
							    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'carryOn', data.ssrs[journey.journeyKey][activeBagSsrs['carryOn']])">
							</app-count-picker>
						</div>
						<div class="col-2 col-lg-auto order-md-12 col-xl-1">
							<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].carryOnTotal}}</p>
						</div>
						<div class="col-12 col-md-3 col-lg-auto col-xl-3">
							<p class="font-weight-bold no-margin bottom top text-right">{{'bags-page.add' | translate}} {{'bags-page.carry-on' | translate}} {{data.ssrs[journey.journeyKey][activeBagSsrs.carryOn].passengersAvailability[passenger].price}}</p>
						</div>
					</div>
					<hr class="divider">
					<div class="row align-items-center spacing-bottom">
						<div class="col-lg-4 col-xl-4 col-sm-12 order-2 customer-order">
							<p class="font-weight-bold additional-bag-drop no-margin bottom" (click)="showMore[journey.journeyKey + passenger] = !showMore[journey.journeyKey + passenger]">
								{{'bags-page.add' | translate}} {{'bags-page.sporting-equipment' | translate}}
								<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</p>
							<hr class="divider">
						</div>
						<div class="col-4 col-lg-auto col-xl-2">
							<p class="p-lead no-margin bottom top">Checked Bag</p>
						</div>
						<div class="col-5 col-md-3 col-lg-auto col-xl-2 d-flex justify-content-center">
							<app-count-picker [disabled]="i != 0 && keepSame" [maxDisabled]="data.bagsSelected[journey.journeyKey][passenger].checkedBagAllowed === 0"
							    [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.checked + data.bagsSelected[journey.journeyKey][passenger].paid.checked"
							    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.checked" (onAdd)="addBag(journey.journeyKey, passenger, 'checked', data.ssrs[journey.journeyKey][activeBagSsrs['checked' + (data.bagsSelected[journey.journeyKey][passenger].unpaid.checked + data.bagsSelected[journey.journeyKey][passenger].paid.checked + 1)]])"
							    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'checked', data.ssrs[journey.journeyKey][activeBagSsrs['checked' + (data.bagsSelected[journey.journeyKey][passenger].unpaid.checked + data.bagsSelected[journey.journeyKey][passenger].paid.checked)]])">
							</app-count-picker>
						</div>
						<div class="col-2 col-lg-auto order-md-12 col-xl-1">
							<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].checkedTotal}}</p>
						</div>
						<div class="col-12 col-md-3 col-lg-auto col-xl-3">
							<ng-container *ngIf="data.bagsSelected[journey.journeyKey][passenger].unpaid.checked + data.bagsSelected[journey.journeyKey][passenger].paid.checked < 5">
								<p class="font-weight-bold no-margin bottom text-right">{{'bags-page.add' | translate}} {{'bags-page.a-checked-bag' | translate}} {{ssrs[journey.journeyKey][this.activeBagSsrs['checked' + (bagsSelected[journey.journeyKey][passenger].unpaid.checked + bagsSelected[journey.journeyKey][passenger].paid.checked + 1)]].passengersAvailability[passenger].price}}</p>
							</ng-container>
						</div>
					</div>
					<div [collapse]="!showMore[journey.journeyKey+passenger]">
						<div class="row spacing-bottom">
							<div class="col-12">
								<p class="font-weight-bold">Sporting Equipment</p>
								<p>FPO Messaging... Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">Bicycle - Bring one non-motorized bicycle
									<i class="fa fa-info-circle" aria-hidden="true" tooltip="bikePopover" triggers="click"></i>
									<ng-template #bikePopover>Bring your bicycle with you on your next trip.
										<a href="https://customersupport.spirit.com/hc/en-us/articles/202096596-Can-I-bring-my-bicycle-on-my-trip" target="_blank">More Info</a>
									</ng-template>
								</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [maxDisabled]="data.bagsSelected[journey.journeyKey][passenger].checkedBagAllowed === 0"
								    [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.bike + data.bagsSelected[journey.journeyKey][passenger].paid.bike"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.bike" (onAdd)="addBag(journey.journeyKey, passenger, 'bike', data.ssrs[journey.journeyKey][activeBagSsrs['bike']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'bike', data.ssrs[journey.journeyKey][activeBagSsrs['bike']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].bikeTotal}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<ng-container *ngIf="data.bagsSelected[journey.journeyKey][passenger].unpaid.bike + data.bagsSelected[journey.journeyKey][passenger].paid.bike < 5">
									<p class="font-weight-bold no-margin bottom top text-right">{{'bags-page.add' | translate}} {{'bags-page.bicycle' | translate}} {{'bags-page.for' | translate}} {{data.ssrs[journey.journeyKey][activeBagSsrs.bike].passengersAvailability[passenger]!.price}}</p>
								</ng-container>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">Surfboard - Put up to two borads in the same package
									<i class="fa fa-info-circle" tooltip="surfPopover" triggers="click" aria-hidden="true"></i>
									<ng-template #surfPopover>Bring your surf board with you on your next trip.
										<a href="https://customersupport.spirit.com/hc/en-us/articles/202096586-Can-I-bring-my-surfboard-or-wakeboard-on-my-trip"
										    target="_blank">More Info</a>
									</ng-template>
								</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [maxDisabled]="data.bagsSelected[journey.journeyKey][passenger].checkedBagAllowed === 0"
								    [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.surf + data.bagsSelected[journey.journeyKey][passenger].paid.surf"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.surf" (onAdd)="addBag(journey.journeyKey, passenger, 'surf', data.ssrs[journey.journeyKey][activeBagSsrs['surf']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'surf', data.ssrs[journey.journeyKey][activeBagSsrs['surf']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].surfTotal}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<p class="font-weight-bold no-margin bottom top text-right">{{'bags-page.add' | translate}} {{'bags-page.surfboard' | translate}} {{'bags-page.for' | translate}} {{data.ssrs[journey.journeyKey][activeBagSsrs.surf].passengersAvailability[passenger]!.price}}
								</p>
							</div>
						</div>
						<div class="row spacing-bottom">
							<div class="col-12">
								<p class="font-weight-bold">Overweight/Oversize Bags</p>
								<p>Select the number of bags that you expect to be overweight and/or oversized</p>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">41 - 50lbs.(18-23 kg)</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.overweight4 + data.bagsSelected[journey.journeyKey][passenger].paid.overweight4"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.overweight4" (onAdd)="addBag(journey.journeyKey, passenger, 'overweight4', data.ssrs[journey.journeyKey][activeBagSsrs['overweight4']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'overweight4', data.ssrs[journey.journeyKey][activeBagSsrs['overweight4']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].overweight4Total}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<p class="font-weight-bold no-margin bottom top text-right">Add for +${{data.ssrs[journey.journeyKey][activeBagSsrs.overweight4].passengersAvailability[passenger]!.price}}</p>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">51 - 70lbs.(23-32 kg)</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.overweight5 + data.bagsSelected[journey.journeyKey][passenger].paid.overweight5"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.overweight5" (onAdd)="addBag(journey.journeyKey, passenger, 'overweight5', data.ssrs[journey.journeyKey][activeBagSsrs['overweight5']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'overweight5', data.ssrs[journey.journeyKey][activeBagSsrs['overweight5']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].overweight5Total}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<p class="font-weight-bold no-margin bottom top text-right">Add for +${{data.ssrs[journey.journeyKey][activeBagSsrs.overweight5].passengersAvailability[passenger]!.price}}</p>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">71 - 100lbs.(32-45 kg)</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.overweight7 + data.bagsSelected[journey.journeyKey][passenger].paid.overweight7"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.overweight7" (onAdd)="addBag(journey.journeyKey, passenger, 'overweight7', data.ssrs[journey.journeyKey][activeBagSsrs['overweight7']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'overweight7', data.ssrs[journey.journeyKey][activeBagSsrs['overweight7']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].overweight7Total}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<p class="font-weight-bold no-margin bottom top text-right">Add for +${{data.ssrs[journey.journeyKey][activeBagSsrs.overweight7].passengersAvailability[passenger]!.price}}</p>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">68 - 80 linear inchces.(158-203 cm)</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.oversize6 + data.bagsSelected[journey.journeyKey][passenger].paid.oversize6"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.oversize6" (onAdd)="addBag(journey.journeyKey, passenger, 'oversize6', data.ssrs[journey.journeyKey][activeBagSsrs['oversize6']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'oversize6', data.ssrs[journey.journeyKey][activeBagSsrs['oversize6']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].oversize6Total}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<p class="font-weight-bold no-margin bottom top text-right">Add for +${{data.ssrs[journey.journeyKey][activeBagSsrs.oversize6].passengersAvailability[passenger]!.price}}</p>
							</div>
						</div>
						<div class="row align-items-center spacing-bottom">
							<div class="col-12 col-md-4 col-lg-6 col-xl-6">
								<p class="no-margin bottom">Special items over 80 linear inchces.(203 cm)
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</p>
							</div>
							<div class="col-5 col-md-3 col-lg-auto col-xl-2">
								<app-count-picker [disabled]="i != 0 && keepSame" [count]="data.bagsSelected[journey.journeyKey][passenger].unpaid.oversize8 + data.bagsSelected[journey.journeyKey][passenger].paid.oversize8"
								    [max]="5" [min]="data.bagsSelected[journey.journeyKey][passenger].paid.oversize8" (onAdd)="addBag(journey.journeyKey, passenger, 'oversize8', data.ssrs[journey.journeyKey][activeBagSsrs['oversize8']])"
								    (onSubtract)="subtractBag(journey.journeyKey, passenger, 'oversize8', data.ssrs[journey.journeyKey][activeBagSsrs['oversize8']])">
								</app-count-picker>
							</div>
							<div class="col-2 col-lg-auto order-md-12 col-xl-1">
								<p class="font-weight-bold no-margin bottom text-right">${{data.bagsSelected[journey.journeyKey][passenger].oversize8Total}}</p>
							</div>
							<div class="col-12 col-md-3 col-lg-auto col-xl-3">
								<p class="font-weight-bold no-margin bottom top text-right">Add for +${{data.ssrs[journey.journeyKey][activeBagSsrs.oversize8].passengersAvailability[passenger]!.price}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>
	<hr class="divider">
	<div class="row spacing-bottom">
		<div class="col-12">
			<div class="bag-total-container" (click)="totalCollapsed = !totalCollapsed">
				<div class="row">
					<div class="col-12 col-sm-7 d-sm-flex">
						<p class="text-center font-weight-bold text-uppercase">Bags Total</p>
					</div>
					<div class="col-12 col-sm-5 d-sm-flex justify-content-sm-end">
						<p class="text-center font-weight-bold text-uppercase">${{bagTotal}}
							<i class="fa fa-chevron-down" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<ng-container *ngIf="data.booking">
				<div *ngFor="let journey of data.booking.journeys" [collapse]="!totalCollapsed">
					<h4>{{journey.designator.origin}} - {{journey.designator.destination}}</h4>
					<div>Total: {{journeyTotals[journey.journeyKey].total}}</div>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="row" *ngIf="!(isClub$ | async) else isClub">
		<div class="col-lg-6">
			<div class="fare-club-container">
				<div class="row">
					<div class="col-lg-7 col-md-8">
						<p class="h3 text-uppercase spacing-bottom">$9 Fare Club Pricing</p>
						<div class="price-flag">
							<p class="font-weight-bold text-uppercase">Save ${{bagTotal - bagTotalClub}}</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-4 d-md-flex flex-md-column justify-content-end">
						<p class="h3 text-uppercase text-center text-md-right spacing-bottom">${{bagTotalClub}}</p>
						<button class="btn btn-primary btn-primary-mobile align-self-end"> {{'bags-page.continue' | translate}}</button>
					</div>
					<div class="col-12 spacing-top">
						<p class="p-small">By choosing $9 Fare Club Bags, you are already a member or will become a club memeber for only $59 per year.
							<strong>Terms and Conditions</strong> apply.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="standard-pricing-container">
				<div class="row">
					<div class="col-lg-7 col-md-8">
						<p class="h3 text-uppercase spacing-bottom">Standard Pricing</p>
					</div>
					<div class="col-lg-5 col-md-4 d-md-flex flex-md-column justify-content-end">
						<p class="h3 text-uppercase text-center text-md-right spacing-bottom">${{bagTotal}}</p>
						<button (click)="onContinue()" class="btn btn-primary btn-primary-mobile align-self-end"> {{'bags-page.continue' | translate}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-template #isClub>
		<div class="row mb-4">
			<div class="col-12">
				<div class="card card-body loyalty-savings-card">
					WAY TO GO SAVER ${{ bagTotalClub - bagTotal }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<button class="btn btn-primary">
					Continue
				</button>
			</div>
		</div>
	</ng-template>
	<div class="row mt-4 text-center">
		<div class="col-12">
			<button class="btn btn-link" (click)="smModal.show()" triggers="mouseenter:mouseleave" popover="best time to buy" popoverTitle="bags are cheaper when buying in advance">{{'bags-page.continue-without-bags' | translate}}</button>
		</div>
	</div>
	<hr class="mt-4">
	<p class="p-legal">{{'bags-page.legal-text1' | translate}}</p>
	<p class="p-legal" [innerHTML]="'bags-page.legal-text2' | translate"></p>
	<p class="p-legal" [innerHTML]="'bags-page.legal-text3' | translate"></p>
	<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="do you need bags modal"
	    aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<app-branded-modal [headerText]="'bags-page.modal-header' | translate" [modalRef]="smModal">
					{{'bags-page.modal-body' | translate}}
					<div class="row mt-4">
						<div class="col-12 col-md-6">
							<button type="button" (click)="smModal.hide()" class="btn btn-primary">
								{{'bags-page.modal-i-need-bags' | translate}}
							</button>
						</div>
						<div class="col-12 col-md-6">
							<button type="button" (click)="onNavigate()" class="btn btn-secondary">
								{{'bags-page.modal-i-dont-need-bags' | translate}}
							</button>
						</div>
					</div>
				</app-branded-modal>
			</div>
		</div>
	</div>
</section>
<!-- 
<div class="modal-header">
		<h4 class="modal-title pull-left">{{'bags-page.modal-header' | translate}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		{{'bags-page.modal-body' | translate}}
		<div class="row">
			<div class="col-6">
				<button type="button" (click)="smModal.hide()" class="btn btn-primary">
					{{'bags-page.modal-i-need-bags' | translate}}
				</button>
			</div>
			<div class="col-6">
				<button type="button" (click)="onNavigate()" class="btn btn-primary">
					{{'bags-page.modal-i-dont-need-bags' | translate}}
				</button>
			</div>
		</div>
	</div> -->