<section class="availability">
  <div *ngIf="errorStatus" class="error">
    <div>
      {{errorStatus}}
    </div>
    <div>
      {{errorStatusText}}
    </div>
  </div>
  <div *ngIf="!token || errorStatus">
    <button type="button" (click)="getNewToken()">
      get new token
    </button>
  </div>
  <div *ngIf="!errorStatus && !data && token">
    <p-calendar [(ngModel)]="value"></p-calendar>
    <button pButton type="button" (click)="getAvailability()" label="get availability"></button>
  </div>
  <div *ngIf="!errorStatus && data">
    <app-trip-list [data]="data"></app-trip-list>
  </div>
</section>