@media (max-width: 500px) {
  p-menubar {
      display: none;
  }
}

@media (min-width: 500px) {
  p-toolbar {
      display: none;
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1)
}
