<div class="popUpContent">
	<div class="error_msg_bubble" id="header_error_bubble" style="display: none;">
		<span class="arrow"></span>
		<p></p>
	</div>
	<div id="loginFormArea">
		<fieldset class="section_block">
			<div class="well">
				<legend style="display: none;">Log in to your account</legend>
				<div class="row">
					<div class="field form-group col-xs-12">
						<label for="email">E-MAIL ADDRESS OR FREE SPIRIT NUMBER</label>
						<input type="text" class="form-control" id="emailField" data-inpopup="true"
						 validatekey="headerEmail" onkeydown="MoveToNextPage(event, 'LoginPage')">
					</div>
					<div class="field form-group col-xs-12">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="passwordField" data-inpopup="true" validatekey="headerPassword"
						 autocomplete="off" onkeydown="MoveToNextPage(event, 'LoginPage')">
						<div id="forgotPasswordLogin" class="field last_one margin-top-1rem">
							<a href="ForgotPassword.aspx">Forgot your password?</a>
						</div>
					</div>
				</div>
				<div id="login_error" class="alert alert-danger"></div>
			</div>
		</fieldset>
	</div>
</div>

<div class="modal-footer">
	<div class="row text-center">
		<div class="col-xs-12">
			<button class="btn btn-primary btn-sm" type="button">Member Login</button>
		</div>
	</div>
	<div class="row text-center margin-top-20">
		<div class="col-xs-12">
			<a href="FreeSpiritEnrollment.aspx" class="clearSpaceLogin">Sign Up</a>
		</div>
	</div>
</div>