

.hero-container {
	background-image: url(/assets/img//hero-carousel/21442_SPIRIT_FitFleet_Home-Desktop.png);
	background-size:cover;
	background-position:left center;
    height: 410px;
    max-width: 1980px;
    margin: auto;
   /* background-size: cover;*/
   /* background-position: left center;*/
    background-repeat: no-repeat;
    background-color: #fff;
    overflow: hidden;
	position: relative;
	margin-bottom: 1rem;
}

.parallelogram.bk-frosted{
background-color: rgba(255,255,255,0.7);
position:relative;
left:73%;
top:3rem;
width:	15rem;
}

