<div class="hero-container">
	<div id="slide-4" class="hero bk-transparent " data-start="" data-end="">
		<div class="container">
			<div class="parallelogram bk-frosted">
				<div class="parallelogram-content ">
					<div class="hero-headline">richmond flights
						<br>priced right</div>
					<div class="hero-lead">fares from
					</div>
					<div class="hero-pricing-component single">
						<div class="price">
							<span class="price-currency">$</span>
							<span class="price-amount">66</span>
							<span class="price-asterisk">*</span>
						</div>
						<div class="price-direction">
							one way
						</div>
					</div>
					<div class="hero-footer">
						<div>
							<button class="btn btn-primary btn-sm" type="submit" target="">
								<a href="https://www.spirit.com/Spirit101-en.html">more info</a>
							</button>
						</div>
						<div class="hero-legal">Additional terms apply. Discount is based on one-way purchase.</div>
					</div>
				</div>
			</div>
			<div class="angled-overlay bk-transparent  "></div>
		</div>
	</div>