<div class="hero-container">
	<div id="slide-4" class="hero bk-transparent " data-start="" data-end="">
		<div class="container">
			<div class="parallelogram bk-frosted">
				<div class="parallelogram-content no-price ">
					<div class="hero-headline">That New
						<br>Plane Smell</div>
					<div class="hero-lead">
						<strong>FIT FLEET</strong>
						<br>The Youngest Planes
						<br> in the U.S.</div>
					<div class="hero-footer">
						<div>
							<a href="https://www.spirit.com/Spirit101-en.html" class="btn btn-primary btn-sm" target="">More Info</a>
						</div>
					</div>
				</div>
			</div>
			<div class="angled-overlay bk-transparent  "></div>
		</div>
	</div>
</div>