<section *ngIf="data$ | async as data">
  <div *ngIf="data.passengers | values as passengers" class="card card-body bg-light mb-3">
    <div class="h4">
      Passenger
    </div>
    <div *ngIf="passengers.length > 0">
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <input #firstName matInput placeholder="First Name" id="first-name" name="first-name" required>
            <mat-error [hidden]="firstName.valid || firstName.pristine">First Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <input #lastName matInput placeholder="Last Name" id="last-name" name="last-name" required>
            <mat-error [hidden]="lastName.valid || lastName.pristine">Last Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.contacts | values as contacts" class="card card-body bg-light mb-3">
    <div class="h4">
      Contact
    </div>
    <div *ngIf="contacts.length > 0">
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <input #contactFirstName matInput placeholder="First Name" id="contact-first-name" name="contact-first-name">
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <input #contactLastName matInput placeholder="Last Name" id="contact-last-name" name="contact-last-name">
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <input #contactPhoneNumber matInput placeholder="Phone Number" id="contact-phone-number" name="contact-phone-number" [textMask]="{mask: mask}">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="save-button-container">
    <button mat-raised-button color="primary" (click)="onSaveClick(form)">save</button>
  </div>
</section>