<section *ngIf="data$ | async as data">
  <div *ngIf="passenger">
    <div class="row">
      <div class="col-sm-3">
        <div class="ui-float-label">
          <input id="first-name" type="text" pInputText [ngModel]="passenger.name?.first" (change)="setFirstName($event)">
          <label for="first-name">First Name</label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-float-label">
          <input id="last-name" type="text" pInputText [ngModel]="passenger.name?.last" (change)="setLastName($event)">
          <label for="last-name">Last Name</label>
        </div>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <button pButton type="button" (click)="save()" label="Save"></button>
      </div>
    </div>
  </div>
</section>