/*PRIMARY BRAND*/
$black: #000000;
$white: #ffffff;
$primary: #FFEC00;

/*UTILITY*/
$action: #0073E6;
$error: #DC0000;
$support: #2F7F29;

/*ADDITIONAL COLORS BRAND*/
$primary-tertiary: #FDF9C2;
$action-tertiary: #73ace5;
$error-tertiary: #F57A7A;
$charcoal: #333333;
$gunmetal: #707070;
$gray: #CCCCCC;
$dolphin: #E2E2E2;
$timberwolf: #EFEFEF;

/* #2399e5 low-fare.component*/

/*DISABLED STATES*/