/* MAIN FONT */
$main-font-family: 'Source_Sans_Pro', Helvetica, sans-serif;
$main-font-weight: 700;
$main-font-size: 1rem;
$main-font-lead-size: 1.33rem;
$main-font-small-size: 0.778rem;
$main-font-legal-size: .662rem;

/* HEADINGS */
$headings-font-family: 'Source_Sans_Pro_Black', Helvetica, sans-serif;
$headings-font-weight: 900;
$h1-font-size: 2.44rem; 
$h2-font-size: 2rem;
$h3-font-size: 1.667rem;
$h4-font-size: 1.333rem;
$h5-font-size: 1.111rem;
$h6-font-size: 0.88rem; 

/* HERO */
$hero-font: 'mrs_lollipopregular','Source_Sans_Pro', Helvetica, sans-serif;
$hero-font-weight: 900;

$hero-headline: 2.223rem;

$hero-lead-font: 'Source_Sans_Pro_Black', Helvetica, sans-serif;
$hero-lead-font-size: 1.33rem;
$hero-lead-font-weight: 700;

$hero-pricing-font: 'Source_Sans_Pro_Black';
$hero-pricing-font-weight: 900;
$hero-pricing-font-size: 5.5rem;

/* BUTTONS */
$button-font: 'Source_Sans_Pro_Black';
$button-font-weight: 900;
$button-font-size-sm: 1.333rem;
$button-size-sm: 2.778rem;

/* $button-font-size-lg: 1.667rem;
$button-size-lg: 3.889rem; */

$button-link-size-sm:1rem;
$button-link-size-lg:1.333rem;

/* OTHER */
$tab-font: 'Source_Sans_Pro_Black';


/* FORM CONTROL */
$title-text-font: 'Source_Sans_Pro_Black';
$title-text-font-size: 0.889rem;
$title-text-font-weight: 700;

$form-control-height: 2.889rem;
$form-control-hint-text-weight: 400;
$form-control-hint-text-size: 1rem;

$radio-size: 1.2223rem;
$radio-size-focus:  0.7778rem;
$radio-border-radius: 50%;
$checkbox-size: 1.333rem;
