<section>
  <div *ngIf="error$ | async as error" class="error">
    <div>
      {{error.status}}
    </div>
    <div>
      {{error.statusText}}
    </div>
    <div>
      {{error._body}}
    </div>
  </div>
  <div *ngIf="!(token$ | async) || (error$ | async)">
    <button type="button" (click)="getNewToken()">
      get new token
    </button>
  </div>
  <div *ngIf="!(error$ | async) && (token$ | async) && !(data$ | async) && (cities$ | async) as cities">
    <mat-form-field>
      <mat-select placeholder="Origin">
        <mat-option *ngFor="let city of cities.data" [value]="city.cityCode">
          {{ city.shortName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Destination">
        <mat-option *ngFor="let city of cities.data" [value]="city.cityCode">
          {{ city.shortName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!(error$ | async) && (data$ | async)">
    <app-trip-list></app-trip-list>
  </div>
</section>