<section>
  <div *ngIf="error$ | async as error" class="error">
    <div>
      {{error.status}}
    </div>
    <div>
      {{error.statusText}}
    </div>
    <div>
      {{error._body}}
    </div>
  </div>
  <div *ngIf="!token || (error$ | async)">
    <button type="button" (click)="getNewToken()">
      get new token
    </button>
  </div>
  <div *ngIf="!(error$ | async) && !(data$ | async) && token">
    <p-calendar [(ngModel)]="startDate"></p-calendar>
    <button pButton type="button" (click)="getFlights()" label="Search"></button>
  </div>
  <div *ngIf="!(error$ | async) && (data$ | async)">
    <app-trip-list></app-trip-list>
  </div>
</section>