<footer>
	<div class="container">
		<!-- Start Free Spirit /  Social media Row -->
		<div class="row">

			<div class="col-lg-2 col-md-2 col-sm-12 col-12">
				<h5 class="title mb-3">FREE SPIRIT</h5>
				<ul class="no-bullets">
					<li>
						<a routerLink='free-spirit/enrollment'>Sign Up</a>
					</li>
					<li>
						<a class="incomplete-element" routerLink=''>Learn More to Earn More</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-12 col-12">
				<h5 class="title mb-3">$9 Fare Club</h5>
				<ul class="no-bullets">
					<li>
						<a class="footer-anchor" routerLink=''>Members Save Most</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
				<!-- blank-->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
				<h6 style="padding-top:15px"> Connect with Us</h6>
				<div id="social-nav-container">
					<ul class="social-icons">
						<li>
							<a href="https://www.facebook.com/SpiritAirlines/" aria-label="Facebook" tabindex="66">
								<i class="fa fa-facebook-official social-fa" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/spiritairlines" aria-label="Twitter" tabindex="67">
								<i class="fa fa-twitter social-fa" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/spiritairlines/" aria-label="Instagram" tabindex="68">
								<i class="fa fa-instagram social-fa" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCrOwgmAwcw8r8xs34RiIuJg" aria-label="YouTube" tabindex="69">
								<i class="fa fa-youtube-play social-fa" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="http://morego.spirit.com/" aria-label="More Go" tabindex="70">
								<i class="fa fa-tumblr social-fa" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!--col-->
		</div>
		<!-- row-->


		<!-- START SECOND ROW-->
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-12 white-border padding-love">
				<h6>Get To Know Us</h6>
				<ul class="no-bullets">
					<li>
						<a routerLink='about-us'>About Us</a>
					</li>
					<li>
						<a href='http://ir.spirit.com/?_ga=2.211144982.2096998529.1518455327-458669390.1518455327' target='_self'>Investor Relations</a>
					</li>
					<li>
						<a routerLink='careers-home'>Careers</a>
					</li>
					<li>
						<a routerLink='route-maps'>Route Maps</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-12 col-12 white-border padding-love">
				<h6>Need Help?</h6>
				<ul class="no-bullets">
					<li>
						<a href='https://customersupport.spirit.com/hc/en-us' target='_self'>Help Center</a>
					</li>
					<li>
						<a routerLink='contact-us'>Contact Us</a>
					</li>
					<li>
						<a href='https://groupreservations.zendesk.com/hc/en-us' target='_self'>Groups</a>
					</li>
					<!--<li>
							<a routerLink='group-travel'>Group Travel</a>
						</li>-->
					<li>
						<a class='incomplete-element' routerLink=''>Deals</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-12 col-12 white-border padding-love">
				<h6>Partners</h6>
				<ul>
					<li>
						<a class="incomplete-element" routerLink=''>Travel Agents</a>
					</li>
					<!--<li>
						<a routerLink='spirit-101'>Spirit 101</a>
					</li>-->
					<li>
						<a routerLink='press-release'>Media Center</a>
					</li>
					<li>
						<a href='https://e14.ultipro.com/Login.aspx?ReturnUrl=%2fDefault.aspx%3fAlias%3dSPIRI519&Alias=SPIRI519' target='_self'>Team Login</a>
					</li>
					<li>
						<a class="incomplete-element" routerLink=''>Team Travel / OA & Jumpseat</a>
					</li>
					<!--
					<li>
						<a routerLink="spirit-specials">Spirit Specials</a>
					</li>

					<li>
						<a routerLink='advertise'>Advertise</a>
					</li>
					<li>
						<a routerLink='morego-spirit'>More Go</a>
					</li>

					<li>
						<a routerLink='special-events'>Special Events</a>
					</li>

					<li>
						<a routerLink='options'>Optional Services</a>
					</li>
					<li>
						<a routerLink='customer-support'>Customer Support</a>
					</li>

				-->



				</ul>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-12 col-12 white-border padding-love">
				<h6>Policies &amp; Legal</h6>
				<ul>
					<li>
						<a routerLink='legal'>Legal</a>
					</li>
					<li>
						<a href='assets/files/pdfs/Contract_of_Carriage.pdf' download>Contract of Carriage</a>
					</li>
					<li>
						<a href='assets/files/pdfs/Customer_Service_Plan.pdf' download>Customer Service Plan</a>
					</li>
					<li>
						<a href='assets/files/pdfs/Tarmac_Delay_Plan.pdf' download>Tarmac Delay Plan</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-4 col-md-12 col-sm-12 col-12">
				<h6>Download Our Mobile App</h6>
				<div style="display: display-inline">
					<img src="assets/img/footer/apple_app_icn.svg" />
					<img width="125" height="37" src="assets/img/footer/googleplay_app_icn.svg " />
				</div>
			</div>
		</div>
		<!--row-->

		<div class="row">
			<div class="col-xs-12 col-md-6">
				<img src="assets/img/global/SpiritLogo.svg" alt="Spirit Airlines" class="footer-logo">
			</div>
			<div class="col-xs-12 col-md-6 copyright">
				<div>
					<a class="incomplete-element" href="/static-qa" target="_self">
						<i class="fa fa-search"></i> Static Pages QA Links</a>
				</div>
				Copyright © 2018 Spirit Airlines, Inc. All Rights Reserved.
			</div>
		</div>
	</div>
	<!--container-->
</footer>