<footer>
	<div class="container">
		<!-- MOBILE ACCORDION -->
		<div class="row footerMobile">
			<div class="col-sm-12">
				<div class="accordion">
					<span class="target-fix" id="accordion"></span>
					<!-- First Accoridon Option -->
					<div>
						<span class="target-fix" id="accordion1"></span>
						<a href="#accordion1" id="open-accordion1" title="open">
							<h3 class="text-uppercase">free spirit</h3>
						</a>
						<a href="#accordion" id="close-accordion1" title="close">
							<h3 class="text-uppercase">free spirit</h3>
						</a>
						<div class="accordion-content">
							<ul>
								<li>
									<a routerLink='/account-enrollment'>{{'footer.free-spirit.sign-up' | translate }}</a>
								</li>
								<li>
									<a routerLink='/dedicated-partners'>{{'footer.free-spirit.dedicated-partners' | translate }}</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Second Accoridon Option -->
					<div>
						<span class="target-fix" id="accordion2"></span>
						<a href="#accordion2" id="open-accordion2" title="open">
							<h3>$9 fare club</h3>
						</a>
						<a href="#accordion" id="close-accordion2" title="close">
							<h3>$9 fare club</h3>
						</a>
						<div class="accordion-content">
							<ul>
								<li>
									<a routerLink='' href="StaticFareClubEnrollment.aspx">{{'footer.9-fare-club.members' | translate}}</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Third Accoridon Option -->
					<div>
						<span class="target-fix" id="accordion3"></span>
						<a href="#accordion3" id="open-accordion3" title="open">
							<h4>{{'footer.get-to-know-us.get-to-know-us' | translate}}</h4>
						</a>
						<a href="#accordion" id="close-accordion3" title="close">
							<h4>{{'footer.get-to-know-us.get-to-know-us' | translate}}</h4>
						</a>
						<div class="accordion-content">
							<ul>
								<li>
									<a routerLink='about-us'>{{'footer.get-to-know-us.about-us' | translate}}</a>
								</li>
								<li>
									<a href='http://ir.spirit.com/?_ga=2.211144982.2096998529.1518455327-458669390.1518455327' target='_self'>{{'footer.get-to-know-us.investor-relations' | translate}}</a>
								</li>
								<li>
									<a routerLink='careers-home'>{{'footer.get-to-know-us.careers' | translate}}</a>
								</li>
								<li>
									<a routerLink='route-maps'>{{'footer.get-to-know-us.route-maps' | translate}}</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Fourth Accoridon Option -->
					<div>
						<span class="target-fix" id="accordion4"></span>
						<a href="#accordion4" id="open-accordion4" title="open">
							<h4>{{'footer.need-help.need-help' | translate}}</h4>
						</a>
						<a href="#accordion" id="close-accordion4" title="close">
							<h4>{{'footer.need-help.need-help' | translate}}</h4>
						</a>
						<div class="accordion-content">
							<ul>
								<li>
									<a href='https://customersupport.spirit.com/hc/en-us' target='_self'>{{'footer.need-help.help-center' | translate}}</a>
								</li>
								<li>
									<a routerLink='contact-us'>{{'footer.need-help.contact-us' | translate}}</a>
								</li>
								<li>
									<a href='https://groupreservations.zendesk.com/hc/en-us' target='_self'>{{'footer.need-help.groups' | translate}}</a>
								</li>
								<li>
									<a routerLink='/deals-everymundo'>{{'footer.need-help.deals' | translate}}</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Fifth Accoridon Option -->
					<div>
						<span class="target-fix" id="accordion5"></span>
						<a href="#accordion5" id="open-accordion5" title="open">
							<h4>{{'footer.partners.partners' | translate}}</h4>
						</a>
						<a href="#accordion" id="close-accordion5" title="close">
							<h4>{{'footer.partners.partners' | translate}}</h4>
						</a>
						<div class="accordion-content">
							<ul>
								<li>
									<a href="travel_portal_home-initial.aspx" routerLink=''>{{'footer.partners.travel-agents' | translate}}</a>
								</li>
								<li>
									<a routerLink='press-release'>{{'footer.partners.media-center' | translate}}</a>
								</li>
								<li>
									<a href='https://e14.ultipro.com/Login.aspx?ReturnUrl=%2fDefault.aspx%3fAlias%3dSPIRI519&Alias=SPIRI519' target='_self'>{{'footer.partners.team-login' | translate}}</a>
								</li>
								<li>
									<a href="EmployeeTravel.aspx" routerLink=''>{{'footer.partners.team-travel' | translate}}</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Sixth Accoridon Option -->
					<!-- <div>
					<span class="target-fix" id="accordion6"></span>
					<a href="#accordion6" id="open-accordion6" title="open">
						<h4>team travel</h4>
					</a>
					<a href="#accordion" id="close-accordion6" title="close">
						<h4>team travel</h4>
					</a>
					<div class="accordion-content">
						<p>1</p>
						<p>2</p>
						<p>3</p>
						<p>4</p>
					</div>
				</div> -->
					<!-- Seventh Accoridon Option -->
					<div>
						<span class="target-fix" id="accordion7"></span>
						<a href="#accordion7" id="open-accordion7" title="open">
							<h4>{{'footer.policies-legal.policies-legal' | translate}}</h4>
						</a>
						<a href="#accordion" id="close-accordion7" title="close">
							<h4>{{'footer.policies-legal.policies-legal' | translate}}</h4>
						</a>
						<div class="accordion-content">
							<ul>
								<li>
									<a routerLink='legal'>{{'footer.policies-legal.legal' | translate}}</a>
								</li>
								<li>
									<a href='assets/files/pdfs/Contract_of_Carriage.pdf' download>{{'footer.policies-legal.contract-of-carriage' | translate}}</a>
								</li>
								<li>
									<a href='assets/files/pdfs/Customer_Service_Plan.pdf' download>{{'footer.policies-legal.customer-service-plan' | translate}}</a>
								</li>
								<li>
									<a href='assets/files/pdfs/Tarmac_Delay_Plan.pdf' download>{{'footer.policies-legal.tarmac-delay-plan' | translate}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- MOBILE ACCORDION END -->
		<!-- DESKTOP -->
		<div class="row ">
			<div class="col-md-12 col-lg-8 footerDesktop">
				<div class="row ">
					<div class="col-xs-12 col-md-6 col-lg-3">
						<h3 class="text-uppercase">free spirit</h3>
						<ul>
							<li>
								<a routerLink='/account-enrollment'>{{'footer.free-spirit.sign-up' | translate }}</a>
							</li>
							<li>
								<a routerLink='/dedicated-partners'>{{'footer.free-spirit.dedicated-partners' | translate }}</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<h3 class="text-uppercase">$9 Fare Club</h3>
						<ul>
							<li>
								<a href="https://www.spirit.com/StaticFareClubEnrollment.aspx">{{'footer.9-fare-club.members' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3"></div>
					<div class="col-xs-12 col-md-6 col-lg-3"></div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-3">
						<div class="white-border"></div>
						<h4>{{'footer.get-to-know-us.get-to-know-us' | translate}}</h4>
						<ul>
							<li>
								<a routerLink='about-us'>{{'footer.get-to-know-us.about-us' | translate}}</a>
							</li>
							<li>
								<a href='http://ir.spirit.com/?_ga=2.211144982.2096998529.1518455327-458669390.1518455327' target='_self'>{{'footer.get-to-know-us.investor-relations' | translate}}</a>
							</li>
							<li>
								<a routerLink='careers-home'>{{'footer.get-to-know-us.careers' | translate}}</a>
							</li>
							<li>
								<a routerLink='route-maps'>{{'footer.get-to-know-us.route-maps' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<div class="white-border"></div>
						<h4>{{'footer.need-help.need-help' | translate}}</h4>
						<ul>
							<li>
								<a href='https://customersupport.spirit.com/hc/en-us' target='_self'>{{'footer.need-help.help-center' | translate}}</a>
							</li>
							<li>
								<a routerLink='contact-us'>Contact Us</a>
							</li>
							<li>
								<a href='https://groupreservations.zendesk.com/hc/en-us' target='_self'>{{'footer.need-help.groups' | translate}}</a>
							</li>
							<li>
								<a routerLink='/deals-everymundo' href="https://www.spirit.com/en/flights">{{'footer.need-help.deals' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<div class="white-border"></div>
						<h4>{{'footer.partners.partners' | translate}}</h4>
						<ul>
							<li>
								<a href="https://www.spirit.com/travel_portal_home-initial.aspx">{{'footer.partners.travel-agents' | translate}}</a>
							</li>
							<li>
								<a routerLink='press-release'>{{'footer.partners.media-center' | translate}}</a>
							</li>
							<li>
								<a href='https://E14.ultipro.com/Default.aspx?Alias=SPIRI519' target='_self'>{{'footer.partners.team-login' | translate}}</a>
							</li>
							<li>
								<a href="https://www.spirit.com/EmployeeTravel.aspx">{{'footer.partners.team-travel' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<div class="white-border"></div>
						<h4>{{'footer.policies-legal.policies-legal' | translate}}</h4>
						<ul>
							<li>
								<a routerLink='legal'>{{'footer.policies-legal.legal' | translate}}</a>
							</li>
							<li>
								<a href='assets/files/pdfs/Contract_of_Carriage.pdf' download>{{'footer.policies-legal.contract-of-carriage' | translate}}</a>
							</li>
							<li>
								<a href='assets/files/pdfs/Customer_Service_Plan.pdf' download>{{'footer.policies-legal.customer-service-plan' | translate}}</a>
							</li>
							<li>
								<a href='assets/files/pdfs/Tarmac_Delay_Plan.pdf' download>{{'footer.policies-legal.tarmac-delay-plan' | translate}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- RIGHT SECTION -->
			<div class="col-md-12 col-lg-4 right-section">
				<div class="white-border"></div>
				<!-- SOCIAL -->
				<div class="row">
					<div class="col-sm-12">
						<h4> {{'footer.connect-with-us' | translate}}</h4>
						<div id="social-nav-container">
							<ul class="social-icons">
								<li>
									<a href="https://www.facebook.com/SpiritAirlines/" aria-label="Facebook">
										<i class="fa fa-facebook-official social-fa" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/spiritairlines" aria-label="Twitter">
										<i class="fa fa-twitter social-fa" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/spiritairlines/" aria-label="Instagram">
										<i class="fa fa-instagram social-fa" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCrOwgmAwcw8r8xs34RiIuJg" aria-label="YouTube">
										<i class="fa fa-youtube-play social-fa" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="http://morego.spirit.com/" aria-label="More Go">
										<i class="fa fa-tumblr social-fa" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- DESKTOP END -->
					<!-- APP DOWNLOAD -->
					<div class="col-sm-12">
						<h4>{{'footer.download-our-mobile-app' | translate}}</h4>
						<div class="row appButtons">
							<div class="col-6">
								<a href="https://itunes.apple.com/us/app/spirit-airlines-check-in/id1256613786?mt=8" aria-label="App Store">
									<img src="assets/img/footer/apple_app_icn.svg" />
								</a>
							</div>
							<div class="col-6">
								<a href="https://play.google.com/store/apps/details?id=com.navitaire.nps.spirit&hl=en" aria-label="Google Play">
									<img src="assets/img/footer/googleplay_app_icn.svg " />
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- APP DOWNLOAD END -->
			</div>
		</div>
		<!-- TOP END -->
		<!-- LOGO & LEGAL -->
		<div class="row logoLegal">
			<div class="col-xs-12 col-md-6">
				<img src="assets/img/global/SpiritLogo.svg" alt="Spirit Airlines" class="footer-logo">
			</div>
			<div class="col-xs-12 col-md-6 copyright">
				<!--<div>
					<a class="incomplete-element" href="/static-qa" target="_self">
						<i class="fa fa-search"></i> Static Pages QA Links</a>
				</div>-->
				<!--<div>
					<a class="incomplete-element" href="/account" target="_self">
						<i class="fa fa-search"></i> Account (Free-Spirit) Links</a>
				</div>-->
				Copyright © 2018 Spirit Airlines, Inc. {{'footer.copyright' | translate}}
				<ul>
					<li>
						<a href="https://spiritairlines.co1.qualtrics.com/jfe/form/SV_9ZzdkotwL3UwN3T?Q_CHL=si&Page+URL=https%3A%2F%2Fwww.spirit.com%2FDefault.aspx&Unique+Page+Visits=1&Total+Page+Visit=1&Time+On+Site=175%7C1">
							Feedback
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- LOGO & LEGAL END -->
	</div>
	<!-- CONTAINER END -->
</footer>