<div id="em_deals_home" style="padding-top:15px">
	<h2 class="btn-link hfixed" (click)="displayEverymundoPanel = !displayEverymundoPanel">
		<a aria-expanded="false" aria-controls="collapseTripPlanning">{{'everymundo-home.trip-planning' | translate}}
			<i class="fa fa-chevron-down"></i>
		</a>
	</h2>
	<div *ngIf="displayEverymundoPanel" id="collapseTripPlanning" style="padding-top:15px">
		<div class="row form-group">
			<div class="col-xs-12 col-md-4">
				<div class="h4">Popular Flight Destinations</div>
				<div>Spirit Airlines is committed to offering the lowest total price to all the places we fly.&nbsp;On average we are 30%
					less than our competition and have the youngest fleet of any major U.S. Airline.</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<ul class="cities">
					<li>
						<a href="#">Flights to New York</a>
					</li>
					<li>
						<a href="#">Dallas flight deals</a>
					</li>
					<li>
						<a href="#">New Orleans for less</a>
					</li>
					<li>
						<a href="#">Best deals to Denver</a>
					</li>
					<li>
						<a href="#">Chicago for less</a>
					</li>
					<li>
						<a href="#">Oakland flight deals</a>
					</li>
					<li>
						<a href="#">Cheap flights to Boston</a>
					</li>
					<li>
						<a href="#">Last minute to Los Angeles</a>
					</li>
					<li>
						<a href="#">Pittsburgh flight deals</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-12 col-md-4">
				<div class="h4">Top Vacation Destinations</div>
				<div>Spirit flies to all the best destinations in the Americas. Whether it's a romantic get-a-way or a family vacation, you
					can save even more when you buy a vacation combo.</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<ul class="cities">
					<li>
						<a href="#">Orlando for less</a>
					</li>
					<li>
						<a href="#">Jamaica All-inclusive</a>
					</li>
					<li>
						<a href="#">Atlantic City Sale</a>
					</li>
					<li>
						<a href="#">Cancun deals</a>
					</li>
					<li>
						<a href="#">Dom Rep deals</a>
					</li>
					<li>
						<a href="#">Myrtle Beach for less</a>
					</li>
					<li>
						<a href="#">Tampa flight deals</a>
					</li>
					<li>
						<a href="#">Cheap flights to Ft. Lauderdale</a>
					</li>
					<li>
						<a href="#">Las Vegas for less</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-12 col-md-4">
				<div class="h4">New and Seasonal Service</div>
				<div>Spirit keeps adding more airplanes and destinations. With new markets added all the time, check where we grow.</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<ul class="cities">
					<li>
						<a href="#">Baltimore to Jamaica non-stop</a>
					</li>
					<li>
						<a href="#">Columbus OH to Las Vegas</a>
					</li>
					<li>
						<a href="#">More service to Vegas</a>
					</li>
					<li>
						<a href="#">Columbus OH to Florida</a>
					</li>
					<li>
						<a href="#">Winter in West Palm Beach FL</a>
					</li>
					<li>
						<a href="#">Detroit to San Diego</a>
					</li>
					<li>
						<a href="#">Richmond VA to Florida</a>
					</li>
					<li>
						<a href="#">Ski Charleston WV</a>
					</li>
					<li>
						<a href="#">Columbus to Myrtle Beach</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>