a {
    color: #0073e6;
    text-decoration: none;
}

#tripPlanning #collapseTripPlanning ul.cities {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

#tripPlanning #collapseTripPlanning ul.cities li a {
	color: #000;
	
}

#tripPlanning #collapseTripPlanning ul {
padding: 0;
list-style-type: none;
}

#tripPlanning {
    font-size: .778rem;
}