/* PARTIALS */
@import '~assets/scss/partials/_colors.scss';


a {
    color: $action;
    text-decoration: none;
}

#em_deals_home #collapseTripPlanning ul.cities {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

#em_deals_home #collapseTripPlanning ul.cities li a {
	color: $black;
	
}

#em_deals_home #collapseTripPlanning ul {
padding: 0;
list-style-type: none;
}

#em_deals_home {
    font-size: .778rem;
}

@media (max-width: 1023px) {#em_deals_home #collapseTripPlanning ul.cities {
    border-top: 1px solid $dolphin;
}}
