<section *ngIf="data">
	<button class="fa fa-chevron-left" (click)="onPreviousWeekClick()"></button>
	<button class="day day-{{index + 1}}" *ngFor="let market of data.lowFareDateMarkets; let index = index" [ngClass]="{'selected': isSameAsTripDate(market.departureDate)}"
	    (click)="onDayClick(market)">
		<div>
			{{market.departureDate | date: 'shortDate'}}
		</div>
		<div>
			${{market.lowestFareAmount && market.lowestFareAmount.fareAmount}}
		</div>
	</button>
	<button class="fa fa-chevron-right" (click)="onNextWeekClick()"></button>
</section>