.error {
  color: red;
  font-weight: bold;
}

.journey-list-container {
  display: flex;
  flex-direction: column;
  margin: -5px;
}

.journey {
  border: 1px solid lightgray;
  padding: 10px 0;
  margin: 5px;
}

.fares {
  display: flex;
  flex-direction: column;
  margin: -5px;
}

.fare {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-sm-4 > div {
  margin-top: 4px;
}
