header {
	background-color: #ffec00;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (max-width: 767px) {
	.mat-toolbar button:not(:first-child) {
		display: none;
	}
}

@media (min-width: 768px) {
	.mat-toolbar button:first-child {
		display: none;
	}
}

.navbar-brand {
    padding: 1rem 0;
    padding-right: 1rem;
}

.navbar-brand img {
	display:inline;
    height: 42px;
    width: 145px;
}




