<div class="row mb-3">
	<div class="col-12">
		<h1 class="text-uppercase">Free Spirit&trade;</h1>
		<p class="p-lead">
			FREE SPIRIT is our frequent flier program. It costs nothing to join.
			<a href="#">Sign up below</a> and you'll be banking miles every time you fly with us.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-4 text-center">
		<img class="img-fluid" src="\assets\img\account-enrollment\join-now.png" alt="Join Now">
		<button type="button" class="btn btn-primary btn-block">Join Now</button>
		<p class="p-lead font-weight-bold">Be the first to hear about member only fares and hot deals.</p>
	</div>
	<div class="col-12 col-lg-4 text-center">
		<img class="img-fluid" src="\assets\img\account-enrollment\earn-miles.png" alt="Earn Miles">
		<button type="button" class="btn btn-primary btn-block">Earn Miles</button>
		<p class="p-lead font-weight-bold">Rack up miles every time your fly or when using our partners.</p>
	</div>
	<div class="col-12 col-lg-4 text-center">
		<img class="img-fluid" src="\assets\img\account-enrollment\buy-gifts.png" alt="Buy Gifts">
		<button type="button" class="btn btn-primary btn-block">Buy & Gift Miles</button>
		<p class="p-lead font-weight-bold">Buy or gift miles for as little as $27</p>
	</div>
</div>
<div class="row mb-4">
	<div class="col-12 col-lg-4 text-center">
		<img class="img-fluid" src="\assets\img\account-enrollment\use-miles.png" alt="Use Miles">
		<button type="button" class="btn btn-primary btn-block">Use Miles</button>
		<p class="p-lead font-weight-bold">Plan ahead to get the most out of your miles.</p>
	</div>
	<div class="col-12 col-lg-4 text-center">
		<img class="img-fluid" src="\assets\img\account-enrollment\partners.png" alt="Partners">
		<button type="button" class="btn btn-primary btn-block">Partners</button>
		<p class="p-lead font-weight-bold">Check out all the places you can earn FREE SPIRIT miles every day.</p>
	</div>
	<div class="col-12 col-lg-4 text-center">
		<img class="img-fluid" src="\assets\img\account-enrollment\credit-cards.png" alt="Credit Cards">
		<button type="button" class="btn btn-primary btn-block">Credit Cards</button>
		<p class="p-lead font-weight-bold">Apply today and start planning your trip tomorrow.</p>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<p>Find more information in our
			<a href="#">F.A.Q.</a>
		</p>
	</div>
	<div class="col-12 text-center">
		<div class="cta-text-container">
			<p class="p-lead">
				Being a member will also speed up your online bookings and make it easier to manage your reservations. It's free to join,
				so get started now! </p>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-12 text-center">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">
				<a class="nav-link active" href="#">Acount</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-9 col-sm-6">
						<p class="font-weight-bold">Terms and Conditions</p>
					</div>
					<div class="col-3 col-sm-6 text-right">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="terms-conditions-sign">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat gravida velit. Integer auctor faucibus ligula
								sed fermentum. Vivamus ac erat est. Donec porttitor velit dui, id ultrices est porta ac. Mauris eros quam, pellentesque
								vitae ex et, gravida volutpat mi. Sed at volutpat risus. Donec accumsan fringilla lacus, luctus luctus purus luctus
								at. Aliquam finibus iaculis quam vitae luctus. Duis hendrerit metus at ipsum consequat, quis facilisis libero consectetur.
								Donec eleifend, metus sed vehicula eleifend, ligula tortor dictum tortor, vitae mattis nulla eros ac libero. Morbi
								sed nulla non nulla tempor aliquet.</p>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-12">
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">I have read and agree to the FREE SPIRIT Terms & Conditions.</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address">
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Address (Continued)</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="form-group">
							<label for="exampleInputEmail1">City</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address">
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<label for="inputState">State/Province</label>
						<select class="custom-select">
							<option selected></option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Zip/Postal Code</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<label for="inputState">Country</label>
						<select class="custom-select">
							<option selected></option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Primary Phone</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Secondary Phone</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-6">
						<label for="inputState">Home Airport</label>
						<select class="custom-select">
							<option selected></option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="col-12 col-lg-6">
						<label for="inputState">Secondary Airport</label>
						<select class="custom-select">
							<option selected></option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<label for="inputState">Title</label>
						<select class="custom-select">
							<option selected></option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="exampleInputEmail1">First Name</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="exampleInputEmail1">Middle Name</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="exampleInputEmail1">Last Name</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
					<div class="col-md-1">
						<label for="inputState">Suffix</label>
						<select class="custom-select">
							<option selected></option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="inputState">Title</label>
					</div>
					<div class="col-md-2">
						<select class="custom-select">
							<option selected>Month</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="custom-select">
							<option selected>Day</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="custom-select">
							<option selected>Year</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="col-md-6">
						<p class="mb-0">IMPORTANT</p>
						<p>
							Enter your first, middle, last name and any suffix, exactly as it appears on your government ID that you plan to use at the
							airport.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Email</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Confirm Email</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Select a Password * (8-16 characters include 1 upper, 1 lower, 1 special)</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Confirm Password * (8-16 characters include 1 upper, 1 lower, 1 special)</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12 text-center">
						<button type="button" class="btn btn-primary">Continue to Step 2</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<button type="button" class="btn btn-primary">Free Sign Up</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>