<section *ngIf="(user$ | async) as user">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{{'account-profile.welcome' | translate}}, {{user.name.first}}
			</div>
		</div>
		<!-- Current Milage-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<div id="section_miliage" class="row well centerText">
					<p style="margin-bottom: 3px;">
						<strong>{{'account-profile.your-current-mileage' | translate}} </strong>&nbsp;0 {{'account-profile.miles' | translate}}
					</p>
				</div>
			</div>
		</div>
		<!-- Acccount # and Milage Tier -->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-6">
				{{'account-profile.fs-account-number' | translate}}
				<BR/> XXXXXXXXX
			</div>
			<div class="col-md-6">
				{{'account-profile.mileage-earning-tier' | translate}}
				<BR/> [[milagetierinfomration]]
			</div>
		</div>
		<!-- Your Membership-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h3>{{'account-profile.your-membership' | translate}}</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{'account-profile.membership-message' | translate}}
			</div>
		</div>
		<!-- Your Reservations-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h3>{{'account-profile.your-reservations' | translate}}</h3>
				<hr>
			</div>
		</div>
		<div class="row" style="padding-top:1rem">
			<div class="col-md-6">
				<p>{{'account-profile.locate-a-reservation' | translate}}
				</p>
			</div>
			<div class="col-md-6">
				<div class="section_block form">
					<fieldset>
						<legend style="display:none">Record Locator</legend>
						<div class="row well">
							<label>
								{{'account-profile.confirmation-code' | translate}}
								<span class="normal_weight"> {{'account-profile.six-characters' | translate}} </span>
							</label>
							<input class="textField form-control" type="text">
							<a class="btn btn-primary btn-sm">{{'account-profile.go' | translate}}
							</a>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h2>{{'account-profile.current-reservations' | translate}}</h2>
				<table class="table table-responsive">
					<thead class="thead-dark">
						<tr>
							<th>{{'account-profile.date' | translate}}</th>
							<th>{{'account-profile.origin' | translate}}</th>
							<th>{{'account-profile.destination' | translate}}</th>
							<th>{{'account-profile.confirmation-code' | translate}}</th>
							<th>{{'account-profile.miles-title' | translate}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h2>{{'account-profile.past-reservations' | translate}}</h2>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th>{{'account-profile.date' | translate}}</th>
							<th>{{'account-profile.origin' | translate}}</th>
							<th>{{'account-profile.destination' | translate}}</th>
							<th>{{'account-profile.confirmation-code' | translate}}</th>
							<th>{{'account-profile.miles-title' | translate}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>