<section>
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12">
				Welcome, [[USERNAME]]
			</div>
		</div>

		<!-- Current Milage-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<div id="section_miliage" class="row well centerText">
					<p style="margin-bottom: 3px;">
						<strong>Your Current Mileage </strong>&nbsp;0 miles
					</p>
				</div>
			</div>
		</div>

		<!-- Acccount # and Milage Tier -->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-6">
				FREE SPIRIT™ Account Number
				<BR/> XXXXXXXXX
			</div>
			<div class="col-md-6">
				Mileage Earning Tier
				<BR/> [[milagetierinfomration]]
			</div>

		</div>

		<!-- Your Membership-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h3>Your Membership</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				Not a member yet of Spirit's $9 Fare Club? Click here to learn more about gaining exclusive access to some of Spirit's lowest
				fares!
			</div>
		</div>


		<!-- Your Reservations-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h3>Your Reservations</h3>
				<hr>
			</div>
		</div>
		<div class="row" style="padding-top:1rem">

			<div class="col-md-6">
				<p>Locate A Reservation: Enter your six character Confirmation Code to locate and add your FREE SPIRIT Number to the reservation.
					Mileage for previously flown flights will be credited instantly, future flights will be credited within 24 hours of
					flight departure.
				</p>
			</div>

			<div class="col-md-6">
				<div class="section_block form">
					<fieldset>
						<legend style="display:none">Record Locator</legend>
						<div class="row well">
							<label>
								Confirmation code
								<span class="normal_weight">(6 characters) </span>
							</label>
							<input class="textField form-control" name="FreeSpiritProfileRetroCreditForwardControl$TextBoxRecordLocator" id="FreeSpiritProfileRetroCreditForwardControl_TextBoxRecordLocator"
							 validatekey="textField" title="Confirmation code " regexerror="Invalid Confirmation Code" type="text" tabindex="27">


							<a onclick="return RetroCreditValidator.processForm(this);" id="FreeSpiritProfileRetroCreditForwardControl_LinkButtonSubmit"
							 class="btn btn-primary btn-sm" href="javascript:__doPostBack('FreeSpiritProfileRetroCreditForwardControl$LinkButtonSubmit','')"
							 tabindex="28">Go
							</a>
						</div>
					</fieldset>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				Not a member yet of Spirit's $9 Fare Club? Click here to learn more about gaining exclusive access to some of Spirit's lowest
				fares!
			</div>
		</div>

		<!--Current Reservations-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h2>Current Reservations</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				DateOriginDestination Confirmation Code Miles
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				No reservations found
			</div>
		</div>

		<!--Past REservations-->
		<div class="row" style="padding-top:1rem">
			<div class="col-md-12">
				<h2>Past Reservations</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				DateOriginDestination Confirmation Code Miles
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				No reservations found
			</div>
		</div>




	</div>
	<!-- Container-->
</section>