/* You can add global styles to this file, and also import other style files */

.ui-progressbar {
  margin-bottom: 30px;
}

.ui-widget {
  font-family: inherit !important;
}

.ui-dropdown .ui-dropdown-trigger .fa {
  margin-top: .45em !important;
  margin-left: -.2em !important;
}

.form-group {
  margin-bottom: 25px !important;
}
