.l-14 {
	left: 14px !important;
}

.r-14 {
	right: 14px !important;
}

.l-15 {
	left: 15px !important;
}

.r-15 {
	right: 15px !important;
}

.mt--1 {
	margin-top: -.875rem;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-basis-0 {
	flex-basis: 0;
}
