<section>
	<div class="container-fluid">
		<div class="row">

			<!--Sidebar-->
			<div class="col-md-4 ml-auto">
				<h5 class="title mb-3">Links</h5>
				<ul>
					<li>
						<a routerLink='./enrollment'>Enrollment</a>
					</li>
					<li>
						<a routerLink='./profile-edit'>Profile Edit</a>
					</li>
					<li>
						<a routerLink='./dedicated-partner'>Dedicated Partner</a>
					</li>
					<li>
						<a routerLink='./get-miles'>Get Miles</a>
					</li>
					<li>
						<a routerLink='./use-miles'>Use Miles</a>
					</li>
					<li>
						<a href='https://buy.points.com/marketing/spirit/landing-page/?product=buy' target='_self'>Buy &#38; Gift Miles</a>
					</li>
					<li>
						<a routerLink='./redemption-request'>Redemption Request</a>
					</li>
					<li>
						<a routerLink='./redemption-no-miles'>Redemption No Miles </a>
					</li>
					<li>
						<a routerLink='./statement'>Spirit Statement</a>
					</li>
					<li>
						<a routerLink='./profile'>Profile</a>
					</li>
					<li>
						<a routerLink='./email-notify-sign-in'>Notify Sign In</a>
					</li>
					<li>
						<a routerLink='./retro-credit-request'>Retro Credit Request</a>
					</li>
					<li>
						<a href='https://spirit.zendesk.com/entries/21354151-how-can-i-request-free-spirit-credit-for-a-flight-that-i-ve-already-flown'
						 target='_self'>Find more information in our F.A.Q.</a>
					</li>
				</ul>
			</div>
			<!--Content-->
			<div class="col-md-8">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<section>